extends layout

block content
    div.content-container
        div.title-container
            h1 IS-218 Oppgave 2
            p Gruppe 10
        div.map-container
            div#map
        div.info-container
            div.left
                h3 Overskrift venstre
                p Tekst venstre
            div.right
                h3 Overskrift høyre
                p Tekst høyre

    script.
        window.shelterData = !{shelterData || 'null'};
        window.bunkerData = !{bunkerData || 'null'};
    
    script(
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""
    )
    script(src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4.js")
    script(src='/leaflet/core.js')